:root {
  --paper-yelow: rgb(252, 252, 212);
  --charc: rgb(33, 38, 45);
  --charc-two: rgba(33, 38, 45, 0.8);
  --light-green: #adebad;
  --green: #32cd32;
  --light-red: #ffb3b3;
  --red: #ff4d4d;
}

.timer {
	background-color: var(--charc-two);
	display: inline-flex;
	flex-direction: column;
	position: absolute;
	top: 14%;
	left: 58%;
	color: white;
}